<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form th:object="${user}" method="post">
    <p>First Name</p>
    <input type="text" th:field="*{firstName}">
    <p th:if="${#fields.hasErrors()}" th:errors="*{firstName}"></p>
    <p>Last Name</p>
    <input type="text" th:field="*{lastName}">
    <p th:if="${#fields.hasErrors()}" th:errors="*{lastName}"></p>
    <p>Phone</p>
    <input type="text" th:field="*{phone}">
    <p th:if="${#fields.hasErrors()}" th:errors="*{phone}"></p>
    <p>Age</p>
    <input type="text" th:field="*{age}">
    <p th:if="${#fields.hasErrors()}" th:errors="*{age}"></p>
    <p>Email</p>
    <input type="text" th:field="*{email}">
    <p th:if="${#fields.hasErrors()}" th:errors="*{email}"></p>
    <button>Save</button>
</form>
</body>
</html>